{

	; Database configuration
	:datomic-uri "datomic:sql://mbrainz?jdbc:postgresql://localhost:5432/datomic?user=datomic&password=datomic"

  ; Core configuration
  :adhoc-queue {"/queue/adhoc/" 'dataproc.site-specific.db.core}
 
  ;System tuning
  :num-work-threads 5
  :num-adhoc-threads 5
 
}