{

	; Database configuration
	:datomic-uri "datomic:sql://mbrainz?jdbc:postgresql://localhost:5432/datomic?user=datomic&password=datomic"
  
  :results-store-uri {:classname "org.postgresql.Driver"
                      :subprotocol "postgresql"
                      :subname "//localhost:5432/datomic"
                      :user "datomic"
                      :password "datomic"}
  
  ; Core configuration
  :work-queue  [{:msgserv "/queue/dataproc/work/"
                 :params {:endpoint "dataproc.site-specific.analysis.core/endpoint" :concurrency 4}}]
  :adhoc-queue [{:msgserv "/queue/dataproc/adhoc/" 
                 :params {:endpoint "dataproc.site-specific.analysis.core/endpoint" :concurrency 4}}]
 
}