{

	; Database configuration
	:datomic-uri "datomic:sql://mbrainz?jdbc:postgresql://localhost:5432/datomic?user=datomic&password=datomic"
  
  :results-store-uri {:classname "org.postgresql.Driver"
                      :subprotocol "postgresql"
                      :subname "//localhost:5432/datomic"
                      :user "datomic"
                      :password "datomic"}
  
  ; DBScanner configuration
  :dbscanner-publish-threads 4
  :dbscanner-scan-index :track/name
  
  :work-queue  {:msgserv "/queue/dataproc/work/"
                :params {:endpoint "dataproc.site-specific.analysis.core/endpoint" :concurrency 4}}
  :adhoc-queue {:msgserv "/queue/dataproc/adhoc/" 
                :params {:endpoint "dataproc.site-specific.analysis.core/endpoint" :concurrency 4}}
  
  ; BatchRunner configuration
  :batches [{:name "top 10 song words for serbia"
             :fnargs ["dataproc.site-specific.analysis.country-analysis/top-n-song-words-for-country" 10 "Serbia"]
             :schedule [:every [1 :minute]]}
            {:name "top 10 song words for united kingdom"
             :fnargs ["dataproc.site-specific.analysis.country-analysis/top-n-song-words-for-country" 10 "United Kingdom"]
             :schedule [:every [4 :minutes]]}]
 
}